branches:
  only:
    - "master"
language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
matrix:
  include:
    - python: 3.7
      dist: xenial
      sudo: true
cache: pip
install:
  - pip install tox-travis
script:
  - tox
services:
  - redis-server
