<!DOCTYPE html>
<html lang="{{ _('en') }}">
  <head>
    <title>{{ _('Snappass - Share Secrets') }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ config.STATIC_URL }}/snappass/css/custom.css" rel="stylesheet">
  </head>
  <body>
    <a href="#main-content" class="skip-link">{{ _('Skip to main content') }}</a>
    <header>
      <nav aria-label="{{ _('Main Navigation') }}">
        <div class="container">
          <a class="nav-brand" href="/">{{ _('SnapPass - Share Secret') }}</a>
        </div>
      </nav>
    </header>

    <main id="main-content" tabindex="-1">
      {% block content %}{% endblock %}
    </main>

    {% block js %}{% endblock %}
  </body>
</html>
