<!DOCTYPE html>
<html lang="{{ _('en') }}">
  <head>
    <title>{{ _('Snappass - Share Secrets') }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ config.STATIC_URL }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ config.STATIC_URL }}/fontawesome/css/font-awesome.min.css?v=4.7.0" rel="stylesheet">
    <link href="{{ config.STATIC_URL }}/snappass/css/custom.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">{{ _('Share Secret') }}</a>
        </div>
      </div>
    </nav>

    {% block content %}{% endblock %}
    <script src="{{ config.STATIC_URL }}/jquery/jquery-3.6.0.min.js"></script>
    <script src="{{ config.STATIC_URL }}/bootstrap/js/bootstrap.min.js"></script>
    {% block js %}{% endblock %}
  </body>
</html>
