<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fios Genomics - Password Sharing Tool</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ config.STATIC_URL }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ config.STATIC_URL }}/fontawesome/css/font-awesome.min.css?v=4.7.0" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link href="{{ config.STATIC_URL }}/snappass/css/custom.css" rel="stylesheet">
</head>
  <body>
    <nav class="navbar navbar-fios navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
              <img src="{{ config.STATIC_URL }}/snappass/img/logo-white.png" alt="Fios Genomics Logo" />
          </a>
        </div>
      </div>
    </nav>

    {% block content %}{% endblock %}
    <script src="{{ config.STATIC_URL }}/jquery/jquery-1.12.4.min.js"></script>
    <script src="{{ config.STATIC_URL }}/bootstrap/js/bootstrap.min.js"></script>
    {% block js %}{% endblock %}
  </body>
</html>
