{% extends "base.html" %}

{% block content %}
<div class="container">
  <section class="header-section confirm mt-5">
    <h2 class="fst-italic"><span class="text-green fw-bold">Share</span> your secret</h2>
  </section>

  <!-- Copy password section -->
  <section class="copy-secret-section">
    <div class="lock-icon"></div>
    <div class="share-container p-4 d-flex flex-row justify-content-center align-items-center gap-4 border border-4 rounded-custom-1 border-red-custom shadow-left bg-white">
      <input type="text" class="form-control h-50 border-0 rounded-custom-2 bg-light-gray text-decoration-underline fw-light"
          id="password-link" value="{{ password_link }}" readonly="readonly">
      <button title="Copy to clipboard" type="button"
          class="btn btn-primary copy-clipboard-btn rounded-custom-2"
          id="copy-clipboard-btn" data-clipboard-target="#password-link"
          data-placement='bottom'>
        <i class="clipboard-icon"></i> Copy link
      </button>
    </div>
  </section>
  
  <section>
    {% include 'secret_info_list.html' %}
  </section>
</div>
{% endblock %}

{% block js %}
<script src="{{ config.STATIC_URL }}/clipboardjs/clipboard.min.js"></script>
<script src="{{ config.STATIC_URL }}/snappass/scripts/clipboard_button.js"></script>
{% endblock %}
