{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="d-flex flex-column justify-content-start gap-5 align-items-center">
    <img class="w-50" src="../static/images/error.png">
    <p>The requested URL was permanently deleted from the system for the possible reasons:
      <ul>
        <li>URL never contained a secret</li>
        <li>Secret was revealed earlier</li>
        <li>or because secret lifetime expired</li>
      </ul>
    </p>
  </div>
</div>
<div class="w-100 p-4 my-4 bg-blue d-flex flex-row justify-content-center align-items-center">
  <a href="/" class="align-self-end">
    <button type="button"
        class="btn btn-primary btn-lg rounded-custom-2 p-3 bg-white text-blue fw-bold">
        Share secrets <img class="btn-icon-sm" src="../static/images/arrowhead_right.svg">
    </button>
    </a>
</div>
{% endblock %}
