<div class="d-flex flex-row justify-content-end mb-5">
    <h2 class="me-5"><span class="text-blue">How</span> Safepass<br>functions?</h2>
</div>

<div class="w-100 d-flex flex-row flex-wrap gap-5 justify-content-center">
    <div class="card c1">
        <div class="card-body">
            <p class="card-text">Secrets are shared through generating a unique short-lived link</p>
        </div>
    </div>
    <div class="card c2">
        <div class="card-body">
            <p class="card-text"><span class="fw-bolder">NO-ONE</span> can access the secret but person with generated URL</p>
        </div>
    </div>
    <div class="card c3">
        <div class="card-body">
            <p class="card-text">Secret can only be revealed once</p>
        </div>
    </div>
    <div class="card c4">
        <div class="card-body">
            <p class="card-text">Expired secrets can never be found</p>
        </div>
    </div>
</div>