{% extends "base.html" %}

{% block content %}
<div class="container">
  <section>
    <div class="page-header"><h1>Get Password Link</h1></div>
    <p>Navigate to the following URL to see the password.</p>
    <div class="row">
      <div class="col-sm-6 margin-bottom-10">
        <input type="text" class="form-control" id="password-link" value="{{ password_link }}" readonly="readonly">
      </div>

      <div class="col-sm-6 margin-bottom-10">
        <button title="Copy to clipboard" type="button" class="btn btn-primary copy-clipboard-btn"
              id="copy-clipboard-btn" data-clipboard-target="#password-link"
              data-placement='bottom'>
          <i class="fa fa-clipboard"></i>
        </button>
      </div>
    </div>
    <p><span class="text-info">Why do I have to go through this intermediary page instead of going directly to the password?</span> Chat services like Facebook and Slack will issue a GET request the moment you paste a URL into their text box. With the original way snappass was designed, this renders the URL inaccessible and the end user would never see the password. This intermediary page solves that issue.</p>
  </section>
</div>
{% endblock %}

{% block js %}
<script src="/{{ config.STATIC_URL }}/clipboardjs/clipboard.min.js"></script>
<script src="/{{ config.STATIC_URL }}/snappass/scripts/clipboard_button.js"></script>
{% endblock %}