{% extends "base.html" %}

{% block content %}
<div class="container password">
  <div class="line l3"></div>
  <section class="header-section preview password">
    {% include 'info_header.html' %}
  </section>

  <section class="reveal-section password">
    <div class="lock-icon"></div>
    <div class="border border-4 border-red-custom rounded-custom-1 shadow-left bg-white p-4">
      <textarea class="form-control border-0 rounded-custom-2 bg-light-gray p-4"
          rows="10" cols="50" id="password-text" autofocus="true"
          name="password-text" readonly="readonly">{{ password }}</textarea>
    </div>
  </section>

  <section class="secret-info-section">
    <div class="line l2"></div>
    {% include 'secret_info_list.html' %}
  </section>

  <!-- Why Safepass section -->
  <section class="why-safepass-section">
    {% include 'why_safepass.html' %}
  </section>

  <!-- How it works section -->
  <section class="info-cards-section">
    <h2 class="fw-semibold"><span class="text-blue fw-bold">How</span> Safepass functions</h2>
    {% include 'info_cards.html' %}
  </section>
</div>
{% endblock %}

{% block js %}
<script src="{{ config.STATIC_URL }}/clipboardjs/clipboard.min.js"></script>
<script src="{{ config.STATIC_URL }}/snappass/scripts/clipboard_button.js"></script>
{% endblock %}
