{% extends "base.html" %}

{% block content %}
<div class="container">
  <section>
    {% include 'info_header.html' %}
  </section>

  <section>
    <p>Save the following secret to a secure location.</p>
    <!--
    <p>The secret has now been permanently deleted from the system, and the URL will no longer work. Refresh this page to verify.</p>
   -->
    <div class="w-100 d-flex flex-row justify-content-center">
      <div class="lock-icon"></div>
      <div class="bg-white p-4 w-password-container d-flex flex-row justify-content-center gap-4 border border-4 border-red-custom rounded-custom-1 shadow-left">
        <div class="input-group">
          <textarea class="form-control border-0 rounded-custom-2 bg-light-gray p-4"
              rows="10" cols="50" id="password-text" autofocus="true"
              name="password-text" readonly="readonly">{{ password }}</textarea>
        </div>
      </div>
    </div>
    {% include 'secret_info_list.html' %}
  </section>

  <!-- Why Safepass section -->
  <section>
    {% include 'why_safepass.html' %}
  </section>

  <!-- How it works section -->
  <section>
    {% include 'info_cards.html' %}
  </section>
</div>
{% endblock %}

{% block js %}
<script src="{{ config.STATIC_URL }}/clipboardjs/clipboard.min.js"></script>
<script src="{{ config.STATIC_URL }}/snappass/scripts/clipboard_button.js"></script>
{% endblock %}
