{% extends "base.html" %}

{% block content %}
<div class="container">
  <section>
    <div class="page-header">
      <h1>{{ _('Secret') }}</h1>
    </div>
    <p class="lead">{{ _('You can only reveal the secret once!') }}</p>
    <div class="row">
      <div class="col-sm-6 margin-bottom-10">
        <button id="revealSecret" type="button" class="btn-lg btn-primary">{{ _('Reveal secret') }}</button>
      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block js %}
<script src="{{ config.STATIC_URL }}/clipboardjs/clipboard.min.js"></script>
<script src="{{ config.STATIC_URL }}/snappass/scripts/clipboard_button.js"></script>
<script src="{{ config.STATIC_URL }}/snappass/scripts/preview.js"></script>
{% endblock %}
