{% extends "base.html" %}

{% block content %}
<div class="container">
  <section>
    <div class="page-header d-flex flex-column flex-md-row justify-content-around gap-4">
      <h2 class="fst-italic d-inline">A secret is shared with you</h2>
      <div>
        <p class="info-title">What is Safepass</p>
        <p>
          An open-source tool created by Jordan Open Source Association (JOSA) to share passwords or secrets safely and securely
        </p>
      </div>
    </div>
  </section>

  <section>
    <div class="d-flex flex-row justify-content-center align-items-center">
      <div class="lock-icon"></div>
      <button id="revealSecret" type="button"
          class="btn btn-lg btn-primary bg-red-custom text-white fs-2 w-75-custom h-btn-custom fw-bold">
        <img src="../static/images/eye_icon.svg"> Reveal secret
      </button>
    </div>
  </section>

  <!-- Why Safepass section -->
  <section>
    <div class="w-100 d-flex flex-row flex-wrap justify-content-around fs-3">
      <div>
        <p class="info-title">Why use Safepass?</p>
        <ul>
          <li>reason #1</li>
          <li>reason #2</li>
        </ul>
      </div>
      <div class="d-flex flex-row">
        <a href="/" class="align-self-end">
          <button type="button"
              class="btn btn-primary btn-lg rounded-custom-2 p-3">
              Share secrets <img class="btn-icon-sm" src="../static/images/arrowhead_right.svg">
          </button>
        </a>
      </div>
    </div>
  </section>

  <!-- How it works section -->
  <section>
    {% include 'info_cards.html' %}
  </section>
</div>
{% endblock %}

{% block js %}
<script src="{{ config.STATIC_URL }}/clipboardjs/clipboard.min.js"></script>
<script src="{{ config.STATIC_URL }}/snappass/scripts/clipboard_button.js"></script>
<script src="{{ config.STATIC_URL }}/snappass/scripts/preview.js"></script>
{% endblock %}
