{% extends "base.html" %}

{% block content %}
<div class="container">
  <section>
    <div class="page-header"><h1>Password Share</h1></div>
    <form class="form-horizontal" id="password_create" method="post">
      <input type="text" id="password" name="password" autofocus="True" placeholder="Share a Password">
      <select name="ttl">
        <option>Week</option>
        <option>Day</option>
        <option>Hour</option>
      </select>
      <input type="text" id="email" name="email" autofocus="True" placeholder="Email to share with (optional)">
      <button type="submit" class="btn btn-primary" id="submit">Submit</button>
    </form>
    <h3>Using this tool</h3>
      <p>This tool allows us to share passwords in a secure way. Submit a password
         and a time to live. The password will be stored as long as time to live
	 (default one week). The password can only be read once. Once somebody
	 reads the password it is automatically removed from the system.
      </p>
  </section>
</div>
{% endblock %}

{% block js %}
{% endblock %}
