{% extends "base.html" %}

{% block content %}
<div class="container">
  <!-- Header and info section -->
  <section>
    <div class="page-header fst-italic mb-5">
      <h2>
        Share secrets <span class="text-blue">safely</span>
      </h2>
    </div>
    <div class="info-container d-flex flex-row">
      <p>
        Shred all toilet paper and spread around the house.
        Stretch cattt catt cattty cat being a cat lick
        yarn hanging out of own butt but destroy dog i
        like big cats and i can not lie.
      </p>
      <p>
        Shred all toilet paper and spread around the house.
        Stretch cattt catt cattty cat being a cat lick
        yarn hanging out of own butt but destroy dog i
        like big cats and i can not lie.
      </p>
    </div>
  </section>
  
  <!-- Input group section -->
  <section>
    <div class="w-100 d-flex flex-row justify-content-center">
      <form role="form" id="password_create" method="post"
          autocomplete="off" class="w-100 d-flex flex-column align-items-center">
        <h3 class="align-self-start d-none d-xxl-inline-flex bg-red-custom text-white fw-bolder rounded-top-3 p-3 ms-9 mb-n-custom">
          Write a secret
        </h3>
        <div class="p-4 w-password-container d-flex flex-column flex-lg-row justify-content-center gap-4 border border-3 border-red-custom rounded-3 shadow-left">
          <div class="input-group">
            <!-- <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span> -->
            <textarea rows="5" cols="50" id="password"
              name="password" autofocus="true" class="form-control border-0 rounded-3 bg-light-gray p-4" 
              placeholder="Type your secret here"
              aria-describedby="basic-addon1" autocomplete="off" required></textarea>
          </div>
          <div class="d-flex flex-column justify-content-center gap-4">
            <button type="submit" class="btn btn-primary rounded-3" id="submit">
              Get Link
            </button>
            <label for="ttl-dropdown" class="mb-n3 fs-6">Time to live</label>
            <select class="form-control border-2 border-red-custom rounded-3"
              name="ttl" id="ttl-dropdown">
              <option value="Two Weeks">Two Weeks</option>
              <option value="Week" selected="selected">Week</option>
              <option value="Day">Day</option>
              <option value="Hour">Hour</option>
            </select>
          </div>
        </div>
      </form>
    </div>
  </section>

  <!-- How it works section -->
  <section>
    {% include 'info_cards.html' %}
  </section>

  <!-- FAQs section -->
  <section>
    <h2 class="ms-5 mb-4">FAQs</h2>
    <div class="w-100 d-flex flex-column">
      <div class="faq-single">
        <div class="faq-question">
          <p>What is the meaning of life?</p>
          <div class="faq-arrow"></div>
        </div>
        <div class="faq-answer">
          <p>Meow Meow Meow Meow Meow Meow Meow Meow Meow Meow Meow Meow</p>
        </div>
      </div>
      <div class="faq-single">
        <div class="faq-question">
          <!-- WIP -->
          <p>What is the meaning of life?</p>
          <div class="faq-arrow"></div>
        </div>
        <div class="faq-answer">
          <p>Meow Meow Meow Meow Meow Meow Meow Meow Meow Meow Meow Meow</p>
        </div>
      </div>
      <div class="faq-single">
        <div class="faq-question">
          <p>What is the meaning of life?</p>
          <div class="faq-arrow"></div>
        </div>
        <div class="faq-answer">
          <p>Meow Meow Meow Meow Meow Meow Meow Meow Meow Meow Meow Meow</p>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block js %}
{% endblock %}
