<div class="w-100 d-flex flex-row flex-wrap justify-content-around fs-3">
    <div>
        <p class="info-title">Why use Safepass?</p>
        <ul>
        <li>reason #1</li>
        <li>reason #2</li>
        </ul>
    </div>
    <div class="d-flex flex-row">
        <a href="/" class="align-self-end">
        <button type="button"
            class="btn btn-primary btn-lg rounded-custom-2 p-3">
            Share secrets <img class="btn-icon-sm" src="../static/images/arrowhead_right.svg">
        </button>
        </a>
    </div>
</div>