@import 'snappass/static/fonts/IBMPlex-Sans/stylesheet.css';

:root {
    --green: #18C652;
    --blue: #3180F4;
    --red-1: #FC2F00;
    --red-2: #F43749;
    --yellow: #EAC300;
    --orange: #FF6D33;
    --light-grey: #E8E8E8;
    --faq-display: none;
}

html {
    position: relative;
    min-height: 100%;
}
h2 {
    font-weight: 500;
    font-size: 3rem;
}
.page-header > h2 {
    font-size: 4rem;
}
p, li {
    font-weight: 200;
}
section {
    margin-bottom: 5rem !important;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 30px;
}
.break-word {
    word-wrap: break-word;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

input[readonly].readonly-text {
    background-color: #fff;
    cursor: text;
}

/* TODO: to be reimplemented using Bootstrap */

.text-blue {
    color: var(--blue);
}
.text-green {
    color: var(--green);
}
.text-red-2 {
    color: var(--red-2);
}
.bg-light-gray {
    background-color: var(--light-grey);
}
.bg-blue {
    background-color: var(--blue);
}
.mb-n3 {
    margin-bottom: -1.3rem;
}
.mb-n-custom {
    margin-bottom: -0.18rem;
}
.ms-9 {
    margin-left: 12rem;
}
.border-red-custom {
    border-color: var(--red-1) !important;
}
.shadow-left {
    box-shadow: -10px 10px 5px 0px #FF7E69;
}
.bg-red-custom {
    background-color: var(--red-1) !important;
}
.w-75-custom {
    width: 75%;
}
.w-password-container {
    width: 70%;
}
.h-btn-custom {
    height: 80px;
}
.rounded-top-custom-1 {
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
}
.rounded-custom-1 {
    border-radius: 27px;
}
.rounded-custom-2 {
    border-radius: 10px;
}

.secret-input::before {
    content: '';
    background-size: 294px 174px;
    height: 171px;
    width:212px;
    margin-left: -13rem;
    margin-top: -1rem;
    background-image: url('../../images/lock_icon.svg');
}
.lock-icon {
    content: '';
    background-size: cover;
    height: 170px;
    width:148px;
    margin-right: -2rem;
    background-image: url('../../images/lock_checkmark_icon.svg');
}
.btn-icon-sm {
    width: 25px;
    height: 25px;
}
.info-title {
    font-weight: 600;
}
.secret-info-list {
    margin-top: 2rem;
    list-style-image: url('../../images/asterisk.png');
}
.header-section > * {
    grid-column-start: 1;
    grid-column-end: 9;
}
.header-section > .page-header {
    grid-row-start: 1;
}
.header-section > .info-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 30px;
}
.info-container > p {
    grid-column-start: 1;
    grid-column-end: 5;
}
.info-container > div {
    grid-column-start: 5;
    grid-column-end: 9;
}
.input-section {
    grid-template-columns: repeat(16, 2fr);
    column-gap: 0;
}
.input-section form {
    grid-column-start: 3;
    grid-column-end: 15;
}
.info-cards {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr 2fr;
}
.info-cards > h2 {
    grid-column-start: 5;
    grid-column-end: 8;
}
.info-cards > div {
    grid-row-start: 2;
}

.card {
    width: 240px;
    height: 330px;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    color: #fff;
}
.card-body p {
    font-weight: 400;
}
.card::before {
    display: inline-flex;
    content: '';
    background-size: 96px 96px;
    height: 96px;
    width:96px;
    margin-top: -3rem;
    margin-left: -3rem;
}
.card.c1 {
    background-color: var(--orange);
    grid-column: 1 / 2;
}
.card.c1::before {
    background-image: url('../../images/clock_icon.svg');
}
.card.c2 {
    background-color: var(--blue);
    grid-column: 3 / 4;
}
.card.c2::before {
    background-image: url('../../images/lock_icon.svg');
}
.card.c3 {
    background-color: var(--yellow);
}
.card.c3::before {
    background-image: url('../../images/time_icon.svg');
}
.card.c4 {
    background-color: var(--red-2);
    grid-column: 7 / 8;
}
.card.c4::before {
    background-image: url('../../images/folder_icon.svg');
}
/* .card.c4::after {
    max-width: 200px;
    color: black;
    font-size: 1rem;
    margin-bottom: -9rem;
    content: 'Secrets expire either when the URL was opened or when "Time to live" achieved';
} */
.faq-single {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.faq-question {
    background-color: var(--light-grey);
    border-radius: 1rem;
    width: 100%;
    height: 92px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.faq-question > p {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}
.faq-answer {
    width: 80%;
    height: auto;
    padding: 1rem;
    background-color: var(--light-grey);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.faq-arrow {
    background-image: url('../../images/arrowhead_down.svg');
    background-size: 30px 30px;
    height: 30px;
    width:30px;
}
